body{
    font-family: Arial, sans-serif;
    background-color: #f0e2db;
    margin: 0;
    padding: 0;
}

h1, h2{
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1px;
    padding: 10px;
}

section{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.progress-card{
    text-align: center;
    background-color: #d6c5ac;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.progress-container {
  width: 100%;
  height: 25px;
  background-color: #c0a97b;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* INNER BAR */
.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #9bb58a;
  border-radius: 20px;
  display: flex;
  align-items: center;      
  justify-content: flex-end;
  padding-right: 10px;
  box-sizing: border-box;
  transition: width 0.3s ease;
}

.progress-text{
    color: #333;
  font-weight: bold;
  font-size: 12px;
}

.topics {
  overflow: hidden;
  max-height: 500px; /* enough to show all topics */
  transition: max-height 0.3s ease;
  margin-top: 15px;
}

/* Hidden state */
.topics.collapsed {
  max-height: 0;
  margin-top: 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle-button {
 
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.task-completed{
    text-decoration: line-through;
    color: #7a6a53;
}

h3{
    color: #333;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
}

.topics li label {
  display: flex;
  align-items: center;   
  gap: 10px;
}

.topics li input[type="checkbox"] {
  flex-shrink: 0;        
}

.topics li span {
  line-height: 1.4;
}
